.vscode
.git
.idea
.cache
build
bin
module-resolve.json
/test/HLT/report/
/test/HLT/log/
/test/HLT/tmp/
*.gcda
*.gcno
unittest
log
report
tmp
.cjpm-history
module-lock.json
anyxml_log

cjcov_logs
cov_output
html_output
*.macrocall
s3_test_config.properties

target/
cjpm.lock
ci_test/
output/
test_temp/
_config.properties

